<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mukdongjeil.mjchurch">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.sermon_detail.SermonDetailActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout" >
        </activity>

        <service
            android:name=".data.network.SermonSyncIntentService"
            android:exported="false" />

        <service
            android:name=".data.network.SermonJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" >
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>

    </application>

</manifest>